
div#flex.with-sidebar .sidebar-wrapper {
  position: static;
  width: 100%;
}

div#flex.with-sidebar .sidebar-wrapper #secondary {
  max-width: 300px;
  margin: 0 auto;
}

div#flex.with-sidebar .navigation.page-navigation {
  width: 100%;
  clear: both;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


div#flex.with-sidebar .container {
  padding-right: 0;
}

