
#flex {
  //overflow-x: hidden;
}
.content-fix {
  overflow: hidden;
  margin-bottom: -15px;
  padding-bottom: 15px;
}



.content-wrapper {
  @include flexbox;
  align-items: stretch;
  position: relative;

  &.image-Left {
    flex-direction: row;
    &.no-Image span.border-bottom:after {
      left: -100%;
    }
  }
  &.image-Right {
    flex-direction: row-reverse;
    &.no-Image span.border-bottom:after {
      right: -100%;
    }
  }
  &.no-Image span.border-bottom:after {
    content: '';
    width: 100%;
    position: absolute;
    height: 5px;
    background: inherit;
    display: block;
  }

  .content-wrap {
    padding: 20px 60px;
    width: 100%;

    h1.content-title {
      margin: 5px 0;
      font-weight: 400;
    }
  }

  .content-image {
    position: relative;
    min-width: 320px;
    min-height: 300px;

    img {
      position: absolute;
      top: 60px;
      left: 60px;
      right: 60px;
      bottom: 60px;
      margin: auto;
    }
  }

  span.border-bottom {
    position: absolute;
    width: 50%;
    height: 5px;
    bottom: 0;
    //&:after {
    //  content: '';
    //  width: 100%;
    //  position: absolute;
    //  height: 5px;
    //  background: inherit;
    //  display: block;
    //}
  }

  span.border-dot {
    position: absolute;
    height: 15px;
    width: 15px;
    bottom: -4px;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
  }

}


div.gform_wrapper {
  h3.gform_title {
    font-size: 2em;
    font-weight: 500;
    margin: 0 !important;
  }
  div.gform_heading {
    margin: 0;
  }


  input, textarea {
    background: #eaeaea;
    border: none;
    border-radius: 2px;
    padding: 15px 0  !important;
  }

  input.button {
    float: right;
    background: #bc3a28;
    box-shadow: none;
    padding: 10px 50px !important;
    border-radius: 10px;
    color: #fff;
    text-shadow: none;
    font-size: 1.4rem !important;
  }
}



div#flex.with-sidebar {
  position: relative;

  .container {
    padding-right: 300px;
  }
  .sidebar-wrapper {
    position: absolute;
    right: calc(50% - 720px);
    top: 0;
    width: 300px;
    height: calc(100% + 34px);
    //padding: 15px 20px;
  }


  .widget ul li { border-bottom: 1px solid #b6cad6; }
  .widget ul li a { background-color: transparent !important; color: #024769 !important; font-size: 16px !important; text-transform: none !important; letter-spacing: 0 !important; text-align: left !important; font-weight: 600 !important; display: block; padding: 12px 30px !important; }
  .widget_hier_page ul .current_page_ancestor a { background: #024769 url(images/sidebar_shadow.png) repeat-y !important; color: #fff !important; font-size: 18px !important; font-weight: 700 !important; text-align: center !important; text-transform: uppercase !important; letter-spacing: 1px !important; border-bottom: 0 !important; margin: 0; display: block; padding: 16px 10px !important; }
  .widget_hier_page ul .current_page_ancestor .page_item a { background-color: transparent !important; color: #024769 !important; font-size: 16px !important; text-transform: none !important; letter-spacing: 0 !important; text-align: left !important; font-weight: 600 !important; display: block; padding: 12px 30px !important; }
  .widget_hier_page .current_page_item { background: #fff !important; border-bottom: 1px solid #b6cad6 !important; }
  .widget_hier_page .current_page_ancestor .current_page_item a { background-image: none !important; }
  .widget_hier_page .current_page_ancestor .current_page_item .children { background: #edf2f5 url(images/sidebar_shadow.png) repeat-y !important; border-top: 1px solid #b6cad6; }
  .widget_hier_page .current_page_ancestor .current_page_item .children li { border-bottom: 0 !important; }
  .widget_hier_page .current_page_ancestor .current_page_item .children li a { font-style: italic; font-weight: normal !important; padding: 12px 30px; }
  .widget_hier_page .current_page_ancestor .current_page_item .children li a:before { content: "\25CF"; color: #5e7c91; font-size: 12px; font-style: normal; padding-right: 15px; vertical-align: top; }
  /* 2nd Level Deep */
  .widget_hier_page ul .current_page_ancestor .current_page_parent a { background-color: #fff !important; background-image: none !important; border-bottom: 1px solid #b6cad6 !important; }
  .widget_hier_page ul .current_page_ancestor .current_page_parent .page_item { background-color: #EDF2F5 !important; border-bottom: 0 !important; }
  .widget_hier_page ul .current_page_ancestor .current_page_parent .page_item a { background-color: transparent !important; font-style: italic; font-weight: normal !important; border-bottom: 0 !important; }
  .widget_hier_page ul .current_page_ancestor .current_page_parent .page_item a:before { content: "\25CF"; color: #5e7c91; font-size: 12px; font-style: normal; padding-right: 15px; vertical-align: top; }
  .widget_hier_page ul .current_page_ancestor .current_page_parent .current_page_item a { font-weight: 700 !important; color: #638242 !important; }
  .widget_hier_page ul .current_page_ancestor .current_page_parent .current_page_item a:before { color: #638242; }
  /* 3rd Level Deep */
  .widget_hier_page ul .current_page_ancestor .current_page_parent ul .current_page_item ul { border-top: 0 !important; }
  .widget_hier_page ul .current_page_ancestor .current_page_parent ul .current_page_item ul a { color: #024769 !important; font-size: 14px !important; font-style: normal !important; font-weight: normal !important; padding: 4px 0 6px 65px !important; }
  .widget_hier_page ul .current_page_ancestor .current_page_parent ul .current_page_item ul a:before { content: "\f1db"; font-family: 'FontAwesome'; font-size: 8px !important; }
  /* 4th Level Deep */
  .widget_hier_page ul .current_page_ancestor ul .current_page_ancestor a { background-color: #fff !important; background-image: none !important; border-bottom: 1px solid #b6cad6 !important; }
  .widget_hier_page ul .current_page_ancestor ul .current_page_ancestor ul .page_item a { background: #EDF2F5 !important; }
  .widget_hier_page ul .current_page_ancestor ul .current_page_ancestor ul .page_item a:before { content: "\25CF"; color: #5e7c91; font-size: 12px; font-style: normal; padding-right: 15px; vertical-align: top; }
  .widget_hier_page ul .current_page_ancestor .current_page_ancestor ul .current_page_parent a { color: #638242 !important; font-style: italic !important; background: #EDF2F5 !important; border-bottom: 0 !important; }
  .widget_hier_page ul .current_page_ancestor .current_page_ancestor ul .current_page_parent a:before { content: "\25CF"; color: #5e7c91; font-size: 12px; font-style: normal; padding-right: 15px; vertical-align: top; }
  .widget_hier_page ul .current_page_ancestor .current_page_ancestor ul .current_page_parent a:before { color: #638242; }
  .widget_hier_page ul .current_page_ancestor .current_page_ancestor ul .current_page_parent ul .page_item { padding: 4px 0 6px 65px !important; }
  .widget_hier_page ul .current_page_ancestor .current_page_ancestor ul .current_page_parent ul .page_item a { color: #024769 !important; font-size: 14px !important; font-style: normal !important; font-weight: normal !important; padding: 0 !important; }
  .widget_hier_page ul .current_page_ancestor .current_page_ancestor ul .current_page_parent ul .page_item a:before { content: "\f1db"; font-family: 'FontAwesome'; font-size: 8px !important; }
  .widget_hier_page ul .current_page_ancestor .current_page_ancestor ul .current_page_parent ul .current_page_item a { font-weight: 700 !important; font-style: italic !important;}
  .widget_hier_page ul .current_page_ancestor .current_page_ancestor ul .current_page_parent ul .current_page_item a:before { font-weight: normal; }
  /* Introduction */
  .page-id-17 .widget_hier_page .current_page_item:first-child a { background: #024769 url(images/sidebar_shadow.png) repeat-y !important; color: #fff !important; font-size: 18px !important; font-weight: 700 !important; text-align: center !important; text-transform: uppercase !important; letter-spacing: 1px !important; border-bottom: 0 !important; margin: 0; display: block; padding: 16px 10px !important; }
  .page-id-17 .widget_hier_page .current_page_item .page_item a { background-color: #CFDCE5 !important; color: #024769 !important; font-size: 16px !important; text-transform: none !important; letter-spacing: 0 !important; text-align: left !important; font-weight: 600 !important; display: block; padding: 12px 30px !important; }


  section.widget_hier_page > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  section.widget_hier_page > ul
  ul.children {
    margin: 0;
    list-style-type: none;
    background-color: #b7d1d5;
    padding-left: 20px;
  }

  section#hierpage-2 h2.widget-title {
    display: none;
  }


  .widget_hier_page > ul > li >
  a {
    background-color: #d4eef2 !important;
    text-decoration: none;
    text-transform: uppercase !important;
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    background: #28aabc;
  }

  .widget_hier_page > ul > li {
    border-bottom: 5px solid #28aabc !important;
  }

  .widget_hier_page > ul > li:first-child {
    border-top: 5px solid #28aabc !important;
  }

  section.widget_hier_page > ul
  ul.children a {
    text-decoration: none;
    text-transform: uppercase !important;
    border: none;
  }

  section.widget_hier_page > ul
  ul.children li {
    border: none !important;
  }
  a.nav-next:after {
    content: "\f054";
    font-family: 'FontAwesome';
    color: #fff;
    font-weight: normal;
    text-align: center;
    background: #024769;
    width: 31px;
    height: 29px;
    line-height: 31px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 20px;
  }

  a.nav-prev:before {
    content: "\f053";
    font-family: 'FontAwesome';
    color: #fff;
    font-weight: normal;
    text-align: center;
    background: #024769;
    width: 31px;
    height: 29px;
    line-height: 31px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 20px;
  }

  .navigation.page-navigation p
  a {
    text-decoration: none;
    color: #333;
  }
  p.nav-next {
    float: right;
    margin: 0;
    padding: 10px 0;
  }

  p.nav-prev {
    float: left;
    margin: 0;
    padding: 10px 0;
  }

  .navigation.page-navigation {
    padding: 0 30px;
  }

}

.main-navigation a {
  padding: 10px 20px;
  text-transform: uppercase;
  color: #3a3a3a;
}

ul#primary-menu {
  margin: 10px 0;
}
ul.sub-menu {
  top: 100% !important;
  background: #fff;
}

.content-flex,
.accordion-content,
.content {
  h1, h2, h3, h4, h5, h6 {
    clear: none;
  }
}

@media screen and (max-width: 980px) {

  div#flex.with-sidebar .sidebar-wrapper {
    position: static;
    width: 100%;
    text-align: center;
  }

  div#flex.with-sidebar .navigation.page-navigation {
    display: inline-block;
    width: 100%;
  }

  div#flex.with-sidebar .container {
    padding: 0;
  }

  div#flex.with-sidebar .sidebar-wrapper ul li a {
    text-align: center !important;
  }

  .content-wrapper.image-Left {
    flex-direction: column;
  }

  .content-wrapper span.border-dot {
    display: none;
  }

  .content-wrapper span.border-bottom {
    display: none;
  }

  .content-fix {
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .content-wrapper.image-Right {
    flex-direction: column;
  }

  .content-wrapper .content-image {
    min-width: 150px;
    min-height: 150px;
    text-align: center;
    position: relative;
  }

  .content-wrapper .content-image img {
    position: static;
    max-height: 150px;
  }

  .content-wrapper .content-image:after,.content-wrapper .content-image:before {
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    background: inherit;
    position: absolute;
    top: 0;
    left: 99%;
  }

  .content-wrapper .content-image:after {
    left: auto;
    right: 99%;
  }

  header#masthead .container {
    max-width: 100%;
  }
}