.case-wrapper .post-looped {
  flex-basis: 100%;
}

.column-wrapper.count-three {
  flex-direction: column;
}

.count-three .column {
  margin: 1rem 0;
}

.hero-header .description {
  padding-left: 0;
}

.accordion-content {
  min-height: 100% !important;
  height: 100% !important;
}